*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #43B3E0;
  --hoverPrimaryColor: #43bff0;
  --padding: 5rem 0;
  --shadow: 0 3px 3px 0px rgba(67, 179, 224, .3);
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1254px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

nav {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: var(--shadow);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li a {
  color: #fff;
  text-shadow: -1px 1px 0.5px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  padding: 16px 30px;
  transition: all .3s;
}

nav ul li:hover a {
  background-color: var(--hoverPrimaryColor);
  border-radius: 10000px
}

header {
  box-shadow: var(--shadow);
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  max-height: calc(100vh - 59px);
  column-gap: 50px;
}

.about .about-image {
  flex: 3;
}

.about .about-image img {
  width: 100%;
  border-radius: 50%;
  border: 0.7em solid var(--primaryColor);
}

.about .about-information {
  display: flex;
  flex-direction: column;
  flex: 7;
  align-items: flex-start;
}


.about .about-heading {
  font-size: 3.25em;
  font-weight: 100;
  margin-bottom: 3.5rem;
}

.about .about-heading span {
  font-weight: 700;
  color: var(--primaryColor);
}

.about .about-desc {
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  line-height: 1.5;
  margin-bottom: 3.5rem;
  color: #777
}

.about .about-desc a {
  color: var(--primaryColor);
  transition: 1s;
}

.about .about-desc a:hover {
  color: var(--hoverPrimaryColor);
}

.about .btn,
.stuff .btn,
.work .btn {
  padding: 1.3rem 3rem;
  background-color: var(--primaryColor);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 1px 0 rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.about .btn:hover,
.stuff .btn:hover {
  background-color: var(--hoverPrimaryColor);
}

/* STUFF SECTION */

.stuff, 
.work {
  padding: var(--padding);
  background-image: url(./../images/bg.png);
  box-shadow: var(--shadow);
}

.stuff h2,
.work h2{
  font-size: 2.3rem;
  color: #3e3e3e;
  font-weight: 700;
}

.stuff p,
.work p {
  color: #888;
  margin-top: 1.7rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.stuff-info {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.stuff-info > p {
  margin-top: 0;
}

.stuff-info .stuff-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stuff .stuff-wrapper>.stuff-box {
  background-color: #fff;
  width: 32%;
  padding: 2rem;
  box-shadow: var(--shadow);
  border: 1px solid #e4e4e4;
  border-radius: 5px
}

.stuff-box i {
  color: #ea8a95;
}

.stuff-box h3 {
  font-size: 28px;
  margin-top: 30px;
}



/* WORK SECTION */

.work > .work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  align-items: center;
}

.work-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.work-wrapper > .work-box {
  background-color: #fff;
  width: 100%;
  max-width: calc((100% / 3) - 20px);
  min-width: 300px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.work-wrapper > .work-box > img {
  width: 100%;
}

.work-wrapper > .work-box > span {
  font-size: 32px;
  font-weight: bold;
  color: #444;
}

.work-wrapper > .work-box > p {
  font-size: 18px;
  color: #707070;
  padding-bottom: 40px;
  margin-top: 0;
}

.work > .work-info > p {
  color: #888;
  font-size: 20px;
  margin-top: 0;
}

/* CONTACT SECTION */

.contact {
  padding: var(--padding);
  background-color: #303030;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.contact-info > h2 {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 700;
}

.contact-info > p {
  color: #999;
  font-size: 1.2rem;
  font-weight: 500;
}

.contact-info > form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-info > form > .form-row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.contact-info > form > .form-row > input {
  width: 400px;
  padding: 15px 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #282828;
  color: #bbb;
}

.contact-info > form > input,
.contact-info > form > textarea {
  padding: 15px 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #282828;
  color: #bbb;
}

.contact-info > form > textarea {
  resize: none;
}

.contact-info > form > .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.contact-info > form > .buttons > input {
  padding: 1.3rem 2.5rem;
  background-color: var(--primaryColor);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px 0 rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.contact-info > form > .buttons > input:first-of-type:hover {
  background-color: var(--hoverPrimaryColor);
}

.contact-info > form > .buttons > input:last-of-type {
  background-color: #444;
}

.contact-info > form > .buttons > input:last-of-type:hover {
  background-color: #454949;
}